<% if @vehicle.errors.any? %>
<div id="error_explanation">
Há erros no formulário, não foi possivel salva. Por favor verifique.
</div>
<% end %>

<%= form_for @vehicle do |f| %>
<p>
<%= f.label :Marca %>
<%= f.text_field :brand %>
<%= error_tag @vehicle, :brand %>
</p>

<p>
<%= f.label :Modelo %>
<%= f.text_field :model %>
<%= error_tag @vehicle, :model %>
</p>

<p>
<%= f.label :Cor %>
<%= f.text_field :color %>
<%= error_tag @vehicle, :color %>
</p>

<p>
<%= f.label :Tipo %>
<%= f.text_field :type %>
<%= error_tag @vehicle, :type %>
</p>

<p>
    <%= f.submit %>
</p>
<% end %>
